* {
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.containerPrincipal {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: white;
}

.containerSecundario {
    text-align: center;
}

.btn {
    border: 0 !important;
    outline: 0 !important;
}

.btn.btn-primary,
.btn.btn-info {
    background-color: violet;
}

.fa-solid.fa-hand-sparkles {
    color: violet;
    font-size: 48px;
    margin: 40px auto;
}